*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 1em;
  color: #333;
}

.page {
  background-color: #fff;
  margin: 0 auto;
  padding: 1em 1.5em;
  width: 100%;
  max-width: 900px;
}

h1 {
  margin: 0 0 30px;
  border-bottom: solid 1px #999;
  font-weight: 100;
  font-size: 48px;
}

h2 {
  margin: 20px 0;
  border-bottom: solid 1px #ccc;
  font-weight: 100;
  font-size:26px;
}

h3 {
  margin: 10px 0;
  font-weight: 600;
  font-size: 20px;
}

.example {
  margin: 0 0 30px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  pre {
    background: #eee;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    font-size: 14px;
    overflow: scroll;

    @media screen and (min-width: 900px) {
      float: right;
    }
  }

  .input-wrapper {
    margin: 10px 0;
  }
}

footer {
  margin: 50px 0 0;
  font-size: 14px;
  font-weight: lighter;

  a {
    color: #aaa;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Examples
.example-color {
  .checkbox-component > input,
  .radio-component > input {
    + label > .box {
      border-color: #4d82ff;
      background: #4d82ff;
    }

    &:checked + label > .box {
      color: #fff;
    }
  }
}

.example-image {
  .checkbox-component > input,
  .radio-component > input {
    + label > .box:before {
      content: '';
    }

    &:checked + label > .box {
      background: url('tick.png') no-repeat center center;
    }
  }
}

.example-icon {
  .checkbox-component > input,
  .radio-component > input {
    + label > .box:before {
      content: '✘';
    }
  }
}
